<div class="trips">
  {{#if trips}}
  {{#each trips}}
  <div id="trip-card">
    <h3>{{name}}</h3>
    <button><a href="/trip/{{_id}}">Details</a></button>
    <button><a href="/approval/{{approvalId}}">Approval Status</a></button>
  </div>
  {{/each}}
  {{/if}}
</div>