<div>
  <a href="/trip/new">
    <button id="new-trip">Add a trip</button>
  </a>
</div>
{{#if trips}}
{{#each trips}}
<div id="trip-card">
  <div class="row">
    <h2>
      {{name}}
    </h2>
  </div>
  <div class="row">
    <a href="/trip/{{_id}}">
      <button>Trip details</button>
    </a>
    <a href="/approval/{{approvalId}}">
      <button>Approval tread</button>
    </a>
  </div>
</div>
{{/each}}
{{/if}}