<div class="container">
  <form action="/corporate" method="POST">
    <h1>Register New Corporate</h1>
    <p>Please Fill all the Information to Create New Corporate.</p>
    <hr>
    <label for="name">Corporate Name
      <input type="text" id="name" name="name" placeholder="Enter Name">
    </label>
    <label for="email">Corporate Email
      <input type="text" id="email" name="emailDomain" placeholder="Enter Email">
    </label>
    <label for="contact">Corporate Contact_No
      <input type="text" id="contact" name="contactNo" placeholder="Enter Contact">
    </label>
    <label for="address">Corporate Address
      <input type="text" id="address" name="address" placeholder="Enter Address">
    </label>

    <input type="submit" value="Submit">

  </form>
</div>