* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  /* position: absolute;
	top: 0; */
  width: 100%;
  background-color: #faf2f2;
}

main {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20%;
  width: 100%;
  background-color: rgb(131, 128, 128);
  color: rgb(14, 13, 13);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(212, 211, 211);
}

li {
  float: left;
}

li a,
button a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a {
  color: #474e5d;
  padding: 18px 16px;
}

li a:hover {
  background-color: rgb(150, 150, 150);
}

li a:active {
  background-color: #358aeb;
}

input[type='text'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='tel'],
input[type='password'],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type='date'] {
  width: 25%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submit,
.update,
input[type='submit'],
button,
#PENDING,
#APPROVED,
#REJECTED,
.button {
  background-color: #358aeb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.button {
  width: 30%;
}

a.blue-button {
  text-decoration: none;
  background-color: #2470da;
  /* background-color: navy; */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a.trip-button {
  margin: 4px 4px;
}

.submit:hover,
.update:hover,
input[type='submit']:hover,
.button:hover,
a.blue-button:hover {
  background-color: #0b76f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#REJECTED {
  color: black;
  background-color: rgb(240, 134, 92);
}

#APPROVED {
  color: white;
  background-color: green;
}

#PENDING {
  color: black;
  background-color: rgb(241, 243, 111);
}

#PENDING:hover,
#APPROVED:hover,
#REJECTED:hover {
  cursor: pointer;
}

.submit,
.update,
.confirm,
input[type='submit'] {
  background-color: #4caf50;
}

#new-user,
#show-user,
#new-rank,
#show-rank,
#new-expense,
#show-expense,
#new-trip,
#new-corporate,
#show-corporate,
.submit,
input[type='submit'] {
  margin: 5px 0 5px 45%;
}

.submit:hover,
.update:hover,
input[type='submit']:hover {
  background-color: #45a049;
}

#show-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 10%;
  width: 75%;
}

.cancel,
.delete {
  background-color: #f44336;
}

.cancel:hover,
.delete:hover {
  background-color: #f81707;
}

#show-form,
#login-form,
#trip-form,
#corporate-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px 10% 2% 10%;
  width: 75%;
}
#login-form {
  width: 45%;
  padding: 50px;
  margin-left: 30%;
}

#trip-card,
#trip-detail-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(235, 241, 247);
  transition: 0.3s;
  margin: 5px 5px 5px 50px;
  padding: 10px 5px 25px 15px;
  width: 100%;
}

#trip-detail-card {
  width: 90%;
}

#trip-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-15 {
  float: left;
  width: 15%;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

#expense-list .expense-button,
#user-list .user-button,
#rank-list .rank-button,
#corporate-list .corporate-button,
#trip-list > div.row {
  background-color: #f2f2f2;
  color: rgb(66, 66, 66);
  padding: 18px;
  width: 100%;
  margin: 0;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid rgb(66, 66, 66);
}

#expense-list .expense-button:hover,
#user-list .user-button:hover,
#corporate-list .corporate-button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: rgb(66, 66, 66);
}

#trip-list button:hover {
  cursor: auto;
}

#header {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  opacity: 0.95;
  padding-top: 50px;
}

.detail {
  background-color: #fefefe;
  opacity: 1;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 20px 15px 20px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover {
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-15,
  .col-35,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}

#name-error,
#description-error,
#method-error,
#currency-error,
#amount-error,
#date-error,
#update-name-error,
#update-description-error,
#update-method-error,
#update-currency-error,
#update-amount-error,
#update-date-error,
#new-user-email-error,
#new-user-password-error,
#new-user-error,
#new-user-contact-error,
#employee-upload-error,
#trip-name-error,
#trip-description-error,
#trip-start-time-error,
#trip-end-time-error,
#trip-manager-error,
#trip-employees-error,
#trip-submit-error {
  font-size: small;
  color: red;
}

#success-expense,
#expense-update-success {
  font-size: large;
  color: green;
  padding-left: 35%;
}

#header {
  background-color: #777;
  color: #ffffff;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

.delete-button,
.update-button {
  float: left;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.delete-button {
  background-color: #f44336;
}

.update-button {
  background-color: #04aa6d;
  color: #ffffff;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  opacity: 0.95;
  padding-top: 50px;
}

.detail {
  background-color: #fefefe;
  opacity: 1;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 20px 15px 20px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover {
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-15,
  .col-35,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}

.card {
  block-size: 250px;
  box-shadow: 0 4px 8px 0 rgba(97, 71, 61, 0);
  transition: 0.3s;
  width: 100%;
  background-color: #ebecec;
}

.single-card {
  block-size: 250px;
  box-shadow: 0 4px 8px 0 rgba(216, 209, 206, 0);
  transition: 0.3s;
  width: 100%;
  background-color: #b7bec5;
  text-align: center;
}

#title-info {
  text-align: center;
}

#link-list {
  list-style-type: none;
}

.container {
  padding: 2px 16px;
}

#formate {
  font-weight: 300;
  font-size: small;
}

#list {
  list-style: none;
}

#corporate-list {
  text-align: center;
  background-color: #8b818a;
  font-size: 40px;
  margin-bottom: 10px;
}

.link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.container,
.container-edit {
  padding: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

label {
  font-weight: 800;
  font-size: large;
}

#names-error,
#email-error,
#contact-error,
#address-error {
  color: red;
  background-color: rgb(245, 200, 200);
}
#myForm {
  margin: auto;
}

#back {
  background-color: #4caf50;
  color: white;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 10px;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: medium;
}

#back:hover {
  background-color: #2ca030;
}

button.trip-green,
input.trip-green {
  background-color: green;
}
button.trip-green:disabled,
button.trip-green[disabled] {
  background-color: grey;
}

li.trip-li {
  float: none;
}

#approval-update-form {
  margin: 20px;
}

#approval-update-form textarea {
  width: 100%;
}
