<<<<<<< HEAD
* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #dedede;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

header {
  /* position: absolute;
	top: 0; */
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20%;
  width: 100%;
  background-color: rgb(95, 95, 95);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(212, 211, 211);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(43, 42, 42);
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(150, 150, 150);
}

.active {
  background-color: #358aeb;
  color: white;
}

input[type='text'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='tel'],
input[type='password'],
select {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type='date'] {
  width: 25%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submit,
.update,
input[type='submit'],
#new-rank button,
#show-rank button,
#new-user button,
#show-user button,
button {
  background-color: #358aeb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 0 0 45%;
}

.submit,
.update {
  background-color: #4caf50;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #1279ee;
}

.submit,
.update,
.confirm,
.cancel {
  background-color: #4caf50;
}

.submit {
  margin-top: 5%;
  margin-left: 45%;
}

.submit:hover,
.update:hover,
.confirm:hover {
  background-color: #45a049;
}

#show-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 10%;
  width: 75%;
}

.cancel,
.delete {
  background-color: #f44336;
}

.cancel:hover,
.delete:hover {
  background-color: #f81707;
}

#show-form,
#login-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px 10% 2% 10%;
  width: 75%;
}
#login-form {
  width: 35%;
  padding: 50px;
  margin-left: 30%;
}

#trip-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(235, 241, 247);
  transition: 0.3s;
  margin: 5px 5px 5px 50px;
  padding: 10px 5px 25px 15px;
  width: 20%;
}

#trip-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-15 {
  float: left;
  width: 15%;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

#expense-list button,
#user-list button {
  background-color: #f2f2f2;
  color: rgb(66, 66, 66);
  padding: 18px;
  width: 100%;
  margin: 0;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid rgb(66, 66, 66);
}

#expense-list button:hover,
#user-list button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: rgb(66, 66, 66);
}

#header {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  opacity: 0.95;
  padding-top: 50px;
}

.detail {
  background-color: #fefefe;
  opacity: 1;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 20px 15px 20px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover {
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-15,
  .col-35,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}

#name-error,
#description-error,
#method-error,
#currency-error,
#amount-error,
#date-error,
#update-name-error,
#update-description-error,
#update-method-error,
#update-currency-error,
#update-amount-error,
#update-date-error {
  font-size: small;
  color: red;
}

#success-expense,
#expense-update-success {
  font-size: large;
  color: green;
  padding-left: 35%;
}

#header {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

.delete-button,
.update-button {
  float: left;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.delete-button {
  background-color: #f44336;
}

.update-button {
  background-color: #04aa6d;
  color: white;
}

.detail {
  background-color: #fefefe;
  opacity: 1;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 20px 15px 20px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-15,
  .col-35,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}
=======
* {
	box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #dedede;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

header {
  /* position: absolute;
	top: 0; */
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20%;
  width: 100%;
  background-color: rgb(95, 95, 95);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(212, 211, 211);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(43, 42, 42);
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(150, 150, 150);
}

.active {
  background-color: #358aeb;
  color: white;
}

input[type='text'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='tel'],
input[type='password'],
select {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type='date'] {
  width: 25%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submit,
.update,
input[type='submit'],
#new-rank button,
#show-rank button,
#new-user button,
#show-user button,
button {
  background-color: #358aeb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 0 0 45%;
}

.submit,
.update {
  background-color: #4caf50;
}

button a{
  color:white;
  text-decoration: none;
}

button:hover{
  background-color: #1279ee;
}

.submit,
.update,
.confirm,
.cancel {
  background-color: #4caf50;
}

.submit {
  margin-top: 5%;
  margin-left: 45%;
}

.submit:hover,
.update:hover {
  background-color: #45a049;
}

#show-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 10%;
  width: 75%;
}

.cancel,
.delete {
  background-color: #f44336;
}

.cancel:hover,
.delete:hover {
  background-color: #f81707;
}

#show-form,
#login-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px 10% 2% 10%;
  width: 75%;
}
#login-form {
  width: 35%;
  padding: 50px;
  margin-left: 30%;
}

#trip-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(235, 241, 247);
  transition: 0.3s;
  margin: 5px 5px 5px 50px;
  padding: 10px 5px 25px 15px;
  width: 20%;
}

#trip-card:hover{  
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-15 {
  float: left;
  width: 15%;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

#expense-list button {
  background-color: #f2f2f2;
  color: rgb(66, 66, 66);
  padding: 18px;
  width: 100%;
  margin: 0;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid rgb(66, 66, 66);
}

#expense-list button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: rgb(66, 66, 66);
}

#header {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  opacity: 0.95;
  padding-top: 50px;
}

.detail {
  background-color: #fefefe;
  opacity: 1;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 20px 15px 20px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover {
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-15,
  .col-35,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}

#name-error,
#description-error,
#method-error,
#currency-error,
#amount-error,
#date-error,
#update-name-error,
#update-description-error,
#update-method-error,
#update-currency-error,
#update-amount-error,
#update-date-error {
  font-size: small;
  color: red;
}

#success-expense,
#expense-update-success {
  font-size: large;
  color: green;
  padding-left: 35%;
}

#rank-list, #user-list button {
  background-color: #f2f2f2;
  color: rgb(66, 66, 66);
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid rgb(66, 66, 66);
}

#rank-list, #user-list button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: rgb(66, 66, 66);
}

#header {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

.delete-button,
.update-button {
  float: left;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.delete-button {
  background-color: #f44336;
}

.update-button {
  background-color: #04aa6d;
  color: white;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  opacity: 0.95;
  padding-top: 50px;
}

.detail {
  background-color: #fefefe;
  opacity: 1;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 20px 15px 20px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover {
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-15,
  .col-35,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}

.card {
  block-size: 250px;
  box-shadow: 0 4px 8px 0 rgba(97, 71, 61, 0);
  transition: 0.3s;
  width: 100%;
  background-color: #ebecec;
}

.single-card {
  block-size: 250px;
  box-shadow: 0 4px 8px 0 rgba(216, 209, 206, 0);
  transition: 0.3s;
  width: 100%;
  background-color: #b7bec5;
  text-align: center;
}

#title-info {
  text-align: center;
}
#link-list {
  list-style-type: none;
}
.card:hover {
  background-color: #5e4249;
  box-shadow: 0 8px 16px 0 rgba(43, 53, 190, 0.2);
}

.container {
  padding: 2px 16px;
}

#list {
  list-style: none;
}

#corporate-list {
  text-align: center;
  background-color: #8b818a;
  font-size: 40px;
  margin-bottom: 10px;
}

.link {
  list-style: none;
  text-decoration: none;
  color: black;
}

#nav-a {
  display: block;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #41494e;
  color: white;
  padding: 14px 25px;
  margin-left: 1350px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.container,
.container-edit {
  padding: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="submit"] {
  background-color: #97daff;
  border: none;
  font-size: 15px;
  color: black;
  padding: 16px 38px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2f54f7;
}

input[type="text"]:focus {
  background-color: rgb(192, 186, 186);
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.nav:link,
.nav:visited {
  background-color: #97daff;
  color: black;
  padding: 15px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 16.5px;
}

.nav:hover,
.nav:active {
  background-color: #2f54f7;  
}

nav a:hover {
  background-color: #010201;
}

label {
  font-weight: 800;
  font-size: large;
}

#name-error,
#email-error,
#contact-error,
#address-error {
  color: red;
  background-color: rgb(245, 200, 200);
}
#myForm {
  margin: auto;
}
>>>>>>> 147f549f691f23ef5a0570545b0466d7e65c4467
