<div>
  <form id="login-form" method="POST" action="/user/login">
    <div>
      <label for="login-form__email">
        User Email
      </label>
      <input id="login-form__email" name="email" type="email" />
      <div id="login-form__user__error" hidden></div>
    </div>
    <div>
      <label for="login-form__password">
        Password
      </label>
      <input id="login-form__password" name="password" type="password" />
      <div id="login-form__password__error" hidden></div>
    </div>
    <input id="login-form__submit" type="submit" value="Search" />
  </form>
</div>