<div>
  <form id="login-form" method="POST" action="/user/login">
    <div class="row">
      <div class="col-25">
        <label for="login-form-email">
          User Email
        </label>
      </div>
      <div class="col-75">
        <input id="login-form-email" name="email" type="email" placeholder="abc@apple.com" />
      </div>
      <span id="login-form-user-error" hidden>Please enter User Email Id.</span>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="login-form-password">
          Password
        </label>
      </div>
      <div class="col-75">
        <input id="login-form-password" name="password" type="password" />
      </div>
      <span id="login-form-password-error" hidden>Please enter password.</span>
    </div>
    <button class="submit" id="login-form-submit" type="submit">Login</button>
  </form>
</div>
<script src="js/login.js"></script>